@media (max-width : 1000px){
    #options{
        grid-gap: 10px;
        justify-items: center;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }
}
@media (max-width : 900px){
    div#menu-top{
        grid-template-columns: 10% 1fr 17%;
    }
    img#logo-top{
        right: -25%;
    }
} 
@media (max-width : 882px){
    ul.Products{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50% 50%;
        justify-items: center;
    }
    ul#otherItem{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25% 25% 25% 25%;
        justify-items: center;
    }
}
@media (max-width : 770px){
    div#menu-top{
        grid-template-columns: 10% 1fr 19%;
    }
}
@media (max-width : 700px){
    div#menu-top{
        grid-template-columns: 10% 1fr 22%;
    }
    img#logo-top{
        right: -35px;
    }
}
@media (max-width : 685px){
    div#searchbox{
        grid-template-columns: 1fr 10%;
    }
}
@media (max-width : 555px){
    #items{
        font-size: 10px;
    }
    ul.Products{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,50%);
        justify-items: center;
    }
    ul#cartList{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,50%);
        justify-items: center;
    }
}
@media (max-width : 657px){
    #footerContent{
        text-align: center;
        grid-auto-flow: row;
        grid-template-columns: 1fr;
    }
    #enamadImg{
        margin: 0 auto;
        position: relative;
    }
    #options{
        margin-bottom: 230px;
        grid-gap: 10px;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,50%);
    }
    #options > img {
        width: 70%;
    }
    ul.Products{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,25%);
    }
    ul#cartList{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8,12.5%);
        justify-items: center;
    }
}
@media (max-width : 600px){
    div#menu-top{
        grid-template-columns: 10% 1fr 26%;
    }
}
@media (max-width : 500px){
    div#menu-top{
        grid-template-columns: 10% 1fr 25%;
    }
    img#logo-top{
        width: 120px;
        right: -35px;
    }
    #login-signup{
        font-size: 10px;
    }
    #cart-icon{
        font-size: 13px;
    }
    #searchbox{
        width: auto;
        height: 30px;
        padding: 0 10px;
    }
    #resultBascket > button{
        width: 30%;
        height: 50%;
    }
}
@media (max-width : 400px){
    div#menu-top{
        grid-template-columns: 10% 1fr 33%;
    }
    #login-signup{
        font-size: 10px;
    }
    img#logo-top{
        width: 100px;
        height: 60px;
        top: 5px;
        right: -30px;
    }
}
